ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center; /* Aligns items vertically at their center */
    justify-content: space-between; /* Puts maximum space between children */
}

nav h1 {
    margin-right: auto; /* Pushes all other elements to the right */
}

nav ul {
    margin-left: auto; /* Pushes the ul to the right side */
    list-style: none; /* Removes bullet points from the list */
    padding: 0; /* Removes padding */
}

nav li {
    display: inline; /* Displays list items inline */
    margin-left: 20px; /* Adds space between list items */
}